doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title canvas
    meta(name='description', content='canvas')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='stylesheets/main.css')
  body
    div.index
      h1.title index
      ul.list
        li.item
          a.link(href="e1.html") drag line with canvas
        li.item
          a.link(href="e2.html") draw smooth line
        li.item
          a.link(href="e3.html") It's gonna rain!
        li.item
          a.link(href="e4.html") Moire Patterns
        li.item
          a.link(href="e5.html") Ball
